html {
  height: 100%;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: #d0d3d8;
}
header {
  background-color: #3aa1c1;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline;
  color: #000;
}
img {
  display: block;
  max-width: 100%;
  height: 100%;
}
.icons__container {
  display: grid;
  height: 50px;
  background-color: #607d8b;
}
.icons {
  height: auto;
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  align-items: center;
  margin-right: 2.5em;
}
.icon {
  color: #0c0c0c;
}
.title {
  text-align: center;
}
.nav-container {
  display: grid;
  place-content: center;
  padding: 1rem;
}
@media (min-width: 700px) {
  .nav-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.nav__logo {
  margin-left: 2em;
}
.logo__link {
  display: block;
  height: 60px;
}
.nav__profile {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  margin-right: 3em;
}
.profile__link {
  color: #0e0d0d;
  border-bottom: 1px solid #000;
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: 0.1em;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}
@media (min-width: 700px) {
  .profile__link:hover {
    color: #e0e0e0;
    border-bottom-color: #e0e0e0;
  }
}
.profile__container {
  padding: 2em;
  margin-bottom: 1em;
}
.grid__container {
  display: grid;
}
@media (min-width: 620px) {
  .grid__container {
    grid-template-columns: 260px 1fr;
    gap: 20px;
  }
  .profile__container {
    padding: 2em 8em 2em 2em;    
  }
}
.profile__image img {
  border-radius: 1rem;
}
.profile__projects {
  padding: 20px 50px 40px;
  background-color: #3aa1c1;
}
.profile__projects h3 {
  border-bottom: 1px solid #000000;
  padding-bottom: 1.5em;
  text-align: center;
}
.projects__container {
  display: grid;
}
@media (min-width: 620px) {
  .projects__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.project__item {
  padding: 0 5px;
}
.footer {
  height: 70px;
  background-color: #22272d;
  border-top: 2em solid #607d8b;
  text-align: center;
}
.footer p {
  color: #fff;
}
